node_modules
dist
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*_creds*.json

public-key.pem
private-key.pem
lib/*
.target/*
*.DS_Store
/.target
atlassian-ide-plugin.xml
